<h1>Books</h1>
  <table width="700">
    <thead>
      <tr>
        <td width="25%">titl</td>
        <td width="50%">body</td>
        <td colspan="3"></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<%= form_with model: @book do |f| %>
  <h2>NewBook</h2>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
<% end %>
